# BASE URLS
FRONTEND_BASE_URL=https://iris.revelarautomation.com/
BACKEND_BASE_URL=https://iris.revelarautomation.com/api/

#TOKEN FOR AUTHENTICATED SCENARIOS
X_CASE_TOKEN=

#USER ROLES & PASSWORDS
TEST_SUBJECT_PASSWORD= 
JUNIOR_COORDINATOR_PASSWORD= 
SENIOR_COORDINATOR_PASSWORD= 

TEST_SUBJECT_ROLE= 
JUNIOR_COORDINATOR_ROLE= 
SENIOR_COORDINATOR_ROLE= 
